<div class="section custom-section6">
  <div class="cnt-inr inr-02">
    <div class="products-inr">
      <p class="blur">
        &nbsp;<br>
        &nbsp;<br>
        人間
      </p>
      <img class="blur" src="https://cdn.shopify.com/s/files/1/0691/5748/6819/files/img-main-09.png" alt="">
      <p class="blur">
        人生の旅路、<br>
        何かをずっと探していた。<br>
        少しずつそれがなにかがわかってきた
      </p>
    </div>
    <button class="blur"><a href="/collections/all">間について</a></button>
  </div>
</div>

{% schema %}
{
  "name": "セクション6（カスタム）",
  "settings": [
    {
      "type": "text",
      "id": "title_text",
      "label": "Title Text"
    }
  ],
  "presets": [
    {
      "name": "セクション6（カスタム）",
      "category": "セクション6（カスタム）"
    }
  ]
}
{% endschema %}
