<div class="section custom-section4">
  <div class="cnt-inr inr-02">
    <img class="img-01 blur" src="https://cdn.shopify.com/s/files/1/0691/5748/6819/files/img-top-03.svg" alt="">
    <div class="products-inr">
      <p class="blur">
        私たちが心を動かさせるのは<br>
        関係性の間にある<br>
        目に見えないものに触れた時
      </p>
      <p class="blur">
        大切な人と<br>
        共に時間を過ごす<br>
        特別な空間で杯を交わす
      </p>
    </div>
    <button class="blur"><a href="/pages/concept">コンセプトを見る</a></button>
  </div>
</div>

{% schema %}
{
  "name": "セクション4（カスタム）",
  "settings": [
    {
      "type": "text",
      "id": "title_text",
      "label": "Title Text"
    }
  ],
  "presets": [
    {
      "name": "セクション4（カスタム）",
      "category": "セクション4（カスタム）"
    }
  ]
}
{% endschema %}
