<div class="section custom-section3">
  <div class="cnt-inr inr-01">
    {% comment %} <img class="img-01" src="https://cdn.shopify.com/s/files/1/0691/5748/6819/files/img-main-06.jpg" alt=""> {% endcomment %}
    <img class="img-02" src="https://cdn.shopify.com/s/files/1/0691/5748/6819/files/img-logo-03.png" alt="GEN">
  </div>
  <div class="cnt-inr inr-02">
    <div class="products-inr">
      <p>
        語ることができる人との<br>
        特別な時間、空間のためにつくりました。
      </p>
      {% comment %} <img src="https://cdn.shopify.com/s/files/1/0691/5748/6819/files/img-top-02.jpg" alt=""> {% endcomment %}
      <p>
        日本酒<br>
        純米大吟醸、袋吊り
      </p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "セクション3（カスタム）",
  "settings": [
    {
      "type": "text",
      "id": "title_text",
      "label": "Title Text"
    }
  ],
  "presets": [
    {
      "name": "セクション3（カスタム）",
      "category": "セクション3（カスタム）"
    }
  ]
}
{% endschema %}
