@font-face {
  font-family: 'HigureGothic-Black';
  src: url('{{ "HigureGothic-Black.ttf" | asset_url }}') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HigureGothic-Bold';
  src: url('{{ "HigureGothic-Bold.ttf" | asset_url }}') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'HigureGothic-Light';
  src: url('{{ "HigureGothic-Light.ttf" | asset_url }}') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HigureGothic-Medium';
  src: url('{{ "HigureGothic-Medium.ttf" | asset_url }}') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HigureGothic-Regular';
  src: url('{{ "HigureGothic-Regular.ttf" | asset_url }}') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.higure-b {
  font-family: 'HigureGothic-Bold', sans-serif;
}

.higure-l {
  font-family: 'HigureGothic-Light', sans-serif;
}

.higure-m {
  font-family: 'HigureGothic-Medium', sans-serif;
}

.higure-bl {
  font-family: 'HigureGothic-Black', sans-serif;
}

.higure-r {
  font-family: 'HigureGothic-Regular', sans-serif;
}

/* top */
.rich-text__heading{
  color: #1C1C1C;
  font-family: "Higure Gothic";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 171.429% */
  letter-spacing: 1.12px;
  margin-top: 0.5rem;
}

.rich-text__blocks .rich-text__text{
  margin-top: 4rem;
}

.rich-text__buttons{
  margin-top: 3.5rem!important;
}

.image-with-text__heading{
  color: #1C1C1C;
  font-family: "Higure Gothic";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 171.429% */
  letter-spacing: 1.12px;
}

.image-with-text__text{
  color: #1C1C1C;
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 1.12px;
}

.button--primary{
  min-width: 280px;
}

.image-with-text__content{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 750px) {
  .image-with-text__content--top {
      justify-content: center!important;
  }
}

.image-with-text__media{
  border: initial;
}

.multicolumn-card{
  background: #fff!important;
}

.multicolumn-card .multicolumn-card-spacing{
  padding-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.title-wrapper-with-link{
  justify-content: center;
  text-align: center;
  margin-bottom: 5rem;
}

.multicolumn-list{
  gap: 6rem;
}

.inline-richtext{
  font-family: "Higure Gothic";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 171.429% */
  letter-spacing: 0.84px;
}

.multicolumn-card__info{
  background: #fff;
  padding: 2.5rem 0!important;
}

.grid--3-col-desktop .grid__item{
  width: calc(33.33% - 6rem * 2 / 3);
  max-width: calc(33.33% - 6rem * 2 / 3);
}

.multicolumn-card__info .inline-richtext{
  color: #1C1C1C;
  font-family: "Noto Sans JP";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: center;
}

.product__info-wrapper{
  display: flex;
  align-items: center;
}


.product__title{
  color: #1C1C1C;
  font-family: "Noto Sans JP";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 163.636% */
  letter-spacing: 2.2px;
}

.price__container span{
  color: #1C1C1C;
  font-family: Overpass;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.6px;
}

.product .product__info-wrapper .price__container{
  width: 100%;
  padding-bottom: 2.5rem;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #d9d9d9!important;
}


/* news letter */
.newsletter__wrapper .newsletter__subheading{
  margin-top: 3.5rem;
}
.newsletter__wrapper .newsletter__subheading + div{
  margin-top: 4rem;
}
.newsletter-form__field-wrapper .field__input{
  background: #fff;
}


/* footer */
.footer{
  padding-top: 8rem!important;
}
.footer-block{
  flex-basis: 5%;
}
.footer-block:first-child{
  flex-basis: 30%;
}

.footer-block__brand-info .footer-block__heading p{
  color: #FFF;
  font-family: Overpass;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.2px;
}

.footer-block .footer-block__heading{
  color: #FFF;
  font-family: Overpass;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.96px;
  margin-bottom: 1rem;
}

.footer-block .footer-block__heading + div.rte{
  color: #FFF;
  font-family: "Noto Sans JP";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.12px;
}

.footer-block__details-content li a{
  color: #FFF;
  font-family: "Noto Sans JP";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.84px;
}

.footer__content-bottom .footer__content-bottom-wrapper{
  justify-content: left;
  display: flex;
}

.copyright__content{
  color: #FFF;
  font-family: Overpass;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.96px;
}

.footer__content-bottom .footer__copyright{
  margin-top: 0;
}